name: CI

on:
  push:
    branches: [main]
    tags: ["v*.*.*"]
  pull_request:
    branches: [main]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - name: Install frontend deps
        working-directory: ./client
        run: bun install --frozen-lockfile
      - name: Build frontend
        working-directory: ./client
        run: bun run build
      - name: Upload frontend build
        uses: actions/upload-artifact@v6
        with:
          name: client-dist
          path: client/dist
          retention-days: 5

  build-backend:
    needs: [build-frontend]
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        os: [ubuntu, windows, macos]
    steps:
      - uses: actions/checkout@v6
      - name: Download frontend build
        uses: actions/download-artifact@v7
        with:
          name: client-dist
          path: client/dist
      - uses: actions/setup-go@v6
        with:
          go-version: 1.24
      - run: go test ./...
      - run: go build -o ./build/ -v ./server

      - name: Upload backend executable
        uses: actions/upload-artifact@v6
        with:
          name: web-tail-${{ matrix.os }}
          path: build
          retention-days: 5

  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/amd64/v3,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  notify-completion:
    name: Notify completion
    if: ${{ always() }}
    needs: [build-backend, docker]
    runs-on: ubuntu-latest
    steps:
      - name: Send telegram message
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            CI finished in ${{ github.repository }}!
